@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: theme(colors.slate.900);
    color: theme(colors.rose.400);
  }
}
